@font-face {
    font-family: 'akzidenz-grotesk_bq_lightRg';
    src: url('assets/fonts/akzidenzgrotesk/akzidenzgrotesk-light-webfont.woff2') format('woff2'),
         url('assets/fonts/akzidenzgrotesk/akzidenzgrotesk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "akzidenz-grotesk_bq_lightRg", sans-serif;
  font-size: 16px;
  background-color: white;
  }

.blue {
 color: blue;

 }




p {
  margin:0px 0px 0px 2px;
}

a {
    color:#FF0000;
}

a:link {
    color:#FF0000;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
}

.textwrapper {
  padding: 20px 20px 20px;
}

h1 {
 font: "akzidenz-grotesk_bq_lightRg", sans-serif;
 font-size: 20px;
}
.title {
  font: "akzidenz-grotesk_bq_lightRg", sans-serif;
  letter-spacing: 0px;
  line-height: 120%;
  padding: 10px 0px 0px 10px;

}

.title.menutitle {
  font-size: 20px;
  text-decoration: none;
  text-decoration-color:black;
  margin: 15px 10px 10px 5px;
  padding: 0px 0px 0px 0px;

}

.title.menusubtitle {
  font-size: 20px;
  text-decoration: none;
  text-decoration-color:black;
  padding: 0px 0px 0px 5px;


}

.title.baseline {
  position: fixed;
    font-size: 16px;
    bottom: 0px;
    right: 0px;
    clear: right;
    padding-right: 10px;
    padding-bottom: 10px;

}

.title.menuitem {
  font-size: 20px;
  padding: 0px 0px 0px 8px;
}


}
.imgwrap {
    position: relative;
    padding: 0px 0 0px 0;
}

.imgwrap.undertitle {
  padding: 65px 0 0px 0;
}

.img {
    float:left;
    padding: 0px 0px 10px 0px;
}
