

/* Body Styling */
body {
  font-family: serif;;
  line-height: 1.3
  ;
  color: black;
  background-color: #f7f7f7;
  padding: 5px;
}

h1 {
  font-size: 18px
}

h2 {
  font-size: 18px
}

/* Main Container */
.container {
  max-width: 1200px; /* Max width for the main content */
  margin: 0 auto; /* Center the container */
}


/* Link Styling */
a {
  text-decoration: none; /* Remove underline */
  color: black; /* Dark blue color for links */
  transition: color 0.3s; /* Smooth color transition */
}

a:hover {
  color: blue; /* Color change on hover */
}
