
#top {
  border-style: solid;
  border-color: var( --text-color);
  border-width: 0px 0px 1px 0px ;
  background-color: var(--base-variant);
}

#firstproject {
  padding-top: 15px;
}

#Info {
  margin-bottom: 30px;
}

.container-fluid {
  border-style: solid;
  margin-left: 0px;
}

 .col-md-8{
  margin: 0;
  padding: 0;
}

:root{
  --base-color: #fafafa;
  --base-variant: #fafafa;
  --text-color: #0b0b0b;
  --secondary-text: #232738;
  --primary-color: #101010;
  --accent-color: #0071ff;
}
.darkmode{
  --base-color: #211a18;
  --base-variant: #211a18;
  --text-color: #dad4c8;
  --secondary-text: #a4a5b8;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
}

#theme-switch{
  height: 55px;
  width: 55px;
  padding: 0;
  border-radius: 20%;
  border-width: 0px;
  background-color: var(--base-variant);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  top: 0px;
}


#theme-switch svg{
  fill: var(--text-color);
}
#theme-switch svg:last-child{
  display: none;
}
.darkmode #theme-switch svg:first-child{
  display: none;
}
.darkmode #theme-switch svg:last-child{
  display: block;
}
body{
font-weight: 500;
font-style: normal;
background-color: var(--base-color);
-webkit-hyphens: auto;
     -webkit-hyphenate-limit-before: 9;
     -webkit-hyphenate-limit-after: 5;
     -webkit-hyphenate-limit-chars: 11 4 4;
     -webkit-hyphenate-limit-lines: 4;
     -webkit-hyphenate-limit-last: always;
     -webkit-hyphenate-limit-zone: 8%;
     -moz-hyphens: auto;
     -moz-hyphenate-limit-chars: 11 4 4;
     -moz-hyphenate-limit-lines: 2;
     -moz-hyphenate-limit-last: always;
     -moz-hyphenate-limit-zone: 8%;
     -ms-hyphens: auto;
     -ms-hyphenate-limit-chars: 11 4 4;
     -ms-hyphenate-limit-lines: 2;
     -ms-hyphenate-limit-last: always;
     -ms-hyphenate-limit-zone: 8%;
     hyphens: auto;
     hyphenate-limit-chars: 11 4 4;
     hyphenate-limit-lines: 3;
     hyphenate-limit-last: always;
     hyphenate-limit-zone: 8%;
}

.dark-mode {
  background-color: #1f1d1c;
  color: #e0dbd7;
}

.dark-mode p{
  background-color: #1f1d1c;
  color: #e0dbd7;
}


span.resume-tabbed-line {
    position: relative;
    display: inline;
    page-break-inside: avoid-column;
    -webkit-column-break-inside: avoid-column;
    break-inside: avoid-column;
    width: 100%;
    float: left;
    clear: both;
    font-size: 14px;
    margin-top: 15px;
    color: var(--text-color);
    font-family: "neue-haas-unica", sans-serif;
  }

  span.wrapped-tab-1 {
    position: relative;
    display: block;
    float: left;
    clear: right;
    width: calc( 16px * 2.625);
    height: 100%;
    page-break-inside: avoid-column;
    -webkit-column-break-inside: avoid-column;
    break-inside: avoid-column;
    font-size: 14px;
    margin-left: 0px;
    color: var(--text-color);
    font-family: "neue-haas-unica", sans-serif;

}

span.wrapped-desc {
    position: relative;
    display: inline;
    float: left;
    clear: right;
    width: calc(100% - ( 16px * 3 ));
    font-size: 14px;
    margin-left: 0px;
      font-family: "neue-haas-unica", sans-serif;
}

p {
  font-size: 16px;

  font:  sans-serif;
  margin-left: 0px;
  padding-left: 0px;
  padding-top: 45px;
  padding-right: 30px;
  padding-bottom: 5px;
  line-height: 1.4;
  color: var(--text-color);
  font-family: "neue-haas-unica", sans-serif;
font-weight: 400;
font-style: normal;
}

p2{
  color: var(--text-color);
    font-family: "neue-haas-unica", sans-serif;
}

.description {
  font-size: 16px;
  margin-left: 0px;
  margin-right: 10px;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 5px;
    line-height: 1.4;
    font-family: "neue-haas-unica", sans-serif;
font-weight: 400;
font-style: normal;
}


h1 {
font-size: 18px;
margin: 0px 0px 0px 0px;
color: #101010;
margin-left: -15px;
padding-left: 15px;
padding-top: 15px;
font-family: "neue-haas-unica", sans-serif;
font-weight: 600;
font-style: normal;
}

h2 {
font-size: 18px;
margin: 0px 0px 0px 0px;
margin-left: 0px;
padding-top: 45px;
color: var(--text-color);
font-family: "neue-haas-unica", sans-serif;
font-weight: 600;
font-style: normal;
}


h3 {
  font-size: 18px;
  margin: 0px 0px 0px 0px;
  margin-left: -15px;
  padding-top: 15px;
  line-height: 1.5;
  color: var(--text-color);
  font-family: "neue-haas-unica", sans-serif;
font-weight: 600;
font-style: normal;
}




a {
  color: var(--text-color);
}

A.class1:link  {text-decoration: none; text-decoration: none; text-decoration-color:blue;}
A.class1:visited {text-decoration: none; text-decoration: underline; text-decoration-color:#7a7a7a;}
A.class1:hover {color: blue;text-decoration: none; transition: ease-in-out 0.2s;}
A.class1:active {text-decoration: dashed underline; color: blue;}


a:hover {
    color: BLUE;
    text-decoration: none;
    transition: all 0.4s ease;
}


.title.menutitle {
  font-size: 18px;
  letter-spacing: normal;
  text-decoration: none;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-style: solid;
  border-width: 0px 0px 0px 0px ;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  font-family: "neue-haas-unica", sans-serif;
}


.title.menuitem {
  font-size: 18px;
  line-height: 200%;
  letter-spacing: normal;
  border-style: solid;
  border-width: 0px 0px 0px 0px ;
  margin-left: -15px;
  padding-left: 15px;
}

.imgwrap {
    position: relative;
    padding: 0px 0px 0px 0px;
}

.imgwrap.undertitle {
  padding: 0px 0px 0px 0px;
}

.img {
    float:left;
    padding: 0px 0px 0px 0px;
    margin-top: 15px;
}

.landing {
  float:left;
  padding: 0px 0px 0px 0px;
  filter: gray;
  -webkit-filter: grayscale(1);
  transition: all 0.6s ease; */
  margin-left: -15px;
  margin-top: 15px;
}

.video {
  float:left;
  padding: 0px 0px 10px 0px;
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  transition: all 0.6s ease;
}

p.bio-paragraph {
  padding-bottom: 200px;
}


    @media (max-width: 992px) {


      #theme-switch{
        height: 70px;
        width: 70px;
        padding: 0;
        border-radius: 20%;
        border-width: 0px;
        background-color: var(--base-variant);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0px;
        top: 0px;
      }

      .col-md-3 {
           border-bottom: 1px solid #101010;
           padding-bottom:  50px;
      }

      .menuitem a {
        font-size: 28px;
      font-weight: 500;line-height: 2;


    }
.menuitem {
  border: 2px;

}
.title.menutitle {
  font-size: 28px;
  font-weight: 500;
}
      .project-title {
          font-size: 28px;
          border-top: 1px;
          padding-top: 50px;

      }

      p{
        padding-top: 0px;
        font-size: 35px;
        font-family: "neue-haas-unica", sans-serif;
    font-weight: 400;

      }

      p.bio-paragraph {
        padding-bottom: 50px;
      }

      p2{
        font-size: 16px;
      }



      h2{
        padding-top: 30px;
        font-size: 20px;
      }

      .description{
      font-size: 20px;
      padding-top: 50px;
      padding-right: 20px;
      padding-bottom: 15px;
      padding-top: 15px;
      margin-left: 0px;margin-right: 0px;
        line-height: 1.4;
        font-family: "neue-haas-unica", sans-serif;
    font-weight: 400;
    font-style: normal;
     }

     .biography {
       padding-left: 0px;
       padding-bottom: 30px;
       padding-top: 50px;
       font-size: 28px;
     }


    .bio-paragraph {
      padding-left: 0px;
      padding-bottom: 0px;
      font-size: 20px;
    }

     .col-md-4{
       padding: 0px;
     }


     span.resume-tabbed-line {
         position: relative;
         display: inline;
         page-break-inside: avoid-column;
         -webkit-column-break-inside: avoid-column;
         break-inside: avoid-column;
         width: 100%;
         float: left;
         clear: both;
         font-size: 16px;
         margin-top: 15px;
         color: var(--text-color);
         font-family: "neue-haas-unica", sans-serif;
       }

       span.wrapped-tab-1 {
         position: relative;
         display: block;
         float: left;
         clear: right;
         width: calc( 16px * 2.625);
         height: 100%;
         page-break-inside: avoid-column;
         -webkit-column-break-inside: avoid-column;
         break-inside: avoid-column;
         font-size: 16px;
         margin-left: 0px;
         color: var(--text-color);
         font-family: "neue-haas-unica", sans-serif;
         font-weight: 500;

     }
     span.wrapped-desc {
         position: relative;
         display: inline;
         float: left;
         clear: right;
         width: calc(100% - ( 16px * 3 ));
         font-size: 16px;
         margin-left: 0px;
           font-family: "neue-haas-unica", sans-serif;
     }

     .col-md-4{
       padding: 0px;
     }

}

</style>